@import '../../scss/variables';

.welcome.col {
  align-self: center;
  padding: 50px 25px;

  h2 {
    font-size: 1.875rem;
    font-weight: 700;

    span {
      font-weight: 300;
    }
  }

  p {
    font-size: 1.125rem;
    font-weight: 300;

    i {
      font-size: 2.5rem;
      position: relative;
      top: 9px;
      left: 2px;

      @media ($max-mobile) {
        top: 4px;
        font-size: 2.25rem;
      }
    }
  }

  @media screen and (min-height: 600px) and ($min-desktop) {
    align-self: auto;
    margin-top: 190px;
  }
}
