#modal {
  position: relative;
  z-index: 999;
}

.modal-wrap {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .modal-inner {
    box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%),
      0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%);
    background: #fff;
    border-radius: 4px;
    padding: 24px;
    max-width: 450px;
    width: 100%;
    margin: 0 15px;
    position: relative;
  }

  h1 {
    font-size: 1.5rem;
    margin-bottom: 16px;
  }

  p {
    font-size: 0.875rem;
  }

  button {
    &.btn {
      position: static;
      border-radius: 0.25rem;
      width: 100px;
      box-shadow: none;
      font-size: 0.875rem;
      margin: 20px 0 0;
      height: 40px;

      &:focus {
        box-shadow: 0 0 0 0.2rem rgb(38 143 255 / 50%);
      }
    }

    &.close {
      box-shadow: none;
      height: 46px;
      width: 40px;
      padding: 0;
      position: absolute;
      right: 20px;
      top: 11px;
      margin: 0;

      i {
        font-size: 2.5rem;
        position: static;

        &::before {
          vertical-align: unset;
        }
      }

      &:focus {
        outline: 1px dotted;
      }
    }
  }
}
